/* 
Exercise 1

body {
  margin: 0;
  border: 5px solid black;
  height: 100vh;
  position: relative;
}

.one {
  width: 800px;
  height: 800px;
  background-color: red;
}

.two {
  width: 600px;
  height: 600px;
  background-color: yellow;
  position: absolute; 
  top: 100px;
  left: 100px;
}

.three {
  width: 400px;
  height: 400px;
  background-color: green;
  position: absolute; 
  top: 100px;
  left: 100px;
}

.four {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: absolute; 
  top: 100px;
  left: 100px;
} */


/* 
Exercise 2

body {
  margin: 0;
  border: 5px solid black;
  height: 100vh;
  position: relative;
}

.one {
  width: 800px;
  height: 800px;
  background-color: red;
}

.two {
  width: 600px;
  height: 600px;
  background-color: yellow;
}

.three {
  width: 400px;
  height: 400px;
  background-color: green;
}

.four {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: absolute;
  top: 0px;
  right: 0px;
} */


/* 
Exercise 3

body {
  margin: 0;
  border: 5px solid black;
  height: 100vh;
  position: relative;
}

.one {
  width: 800px;
  height: 800px;
  background-color: red;
}

.two {
  width: 600px;
  height: 600px;
  background-color: yellow;
}

.three {
  width: 400px;
  height: 400px;
  background-color: green;
  position: absolute;
  top: 400px;
  left: 800px;
}

.four {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: relative;
  top: 200px;
} */


/* 
Exercise 4

body {
  margin: 0;
  border: 5px solid black;
  height: 100vh;
  position: relative;
}

.one {
  width: 800px;
  height: 800px;
  background-color: red;
}

.two {
  width: 600px;
  height: 600px;
  background-color: yellow;
  position: relative;
  top: 200px;
  left: 200px;
}

.three {
  width: 400px;
  height: 400px;
  background-color: green;
  position: relative;
  left: -200px;
  top: -200px;

}

.four {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: relative;
  left: 200px;
  top: 200px;
} */

/* 
Exercise 5

body {
  margin: 0;
  border: 5px solid black;
  height: 100vh;
  position: relative;
}

.one {
  width: 800px;
  height: 800px;
  background-color: red;
}

.two {
  width: 600px;
  height: 600px;
  background-color: yellow;
  position: relative;
  top: 153%;
  left: 339%;

}

.three {
  width: 400px;
  height: 400px;
  background-color: green;
  position: relative;
  top: -400px;

}

.four {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: absolute;
  top: -825px;
  right: 728%;
} */
